[submodule "ext/TextProcessingLib"]
	path = ext/TextProcessingLib
	url = https://github.com/xarabas/TextProcessingLib.git
[submodule "ext/GensimSemanticLib"]
	path = ext/GensimSemanticLib
	url = https://github.com/xarabas/GensimSemanticLib.git
[submodule "ext/EmotionsLIWClib"]
	path = ext/EmotionsLIWClib
	url = https://github.com/xarabas/EmotionsLIWClib.git
